#wrapper{max-width: 1920px; margin: 0 auto;}

header{height: 65px; position: fixed; top: 0; left: 0; width: 100%; z-index: 99999;}
header .header-wrap{z-index: 20;}
header .header-wrap .btn-menu-opn{overflow: hidden;width: 35px;height: 35px;}
header .header-wrap .btn-menu-opn button{cursor: pointer;width: 100%;height: 100%;border: 0;padding: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;transition: all 0.3s;}
header .header-wrap .btn-menu-opn button.active{transform: rotate(180deg);}
header .header-wrap .btn-menu-opn button.active span:first-child{margin: 0;}
header .header-wrap .btn-menu-opn button.active span::before{margin: 0; width: 22px; height: 3.6px;}
header .header-wrap .btn-menu-opn button.active span::after{margin: 0; width: 22px;height: 3.6px;}
header .header-wrap .btn-menu-opn button.active span:nth-child(1)::before{transform: translate(11px, 1.8px) rotate(-45deg);}
header .header-wrap .btn-menu-opn button.active span:nth-child(1)::after{transform: translate(-11px, 1.8px) rotate(-45deg);}
header .header-wrap .btn-menu-opn button.active span:nth-child(2)::before{transform: translate(11px, -1.8px) rotate(45deg);}
header .header-wrap .btn-menu-opn button.active span:nth-child(2)::after{transform: translate(-11px, -1.8px) rotate(45deg);}
header .header-wrap .btn-menu-opn button span{display: flex; transition: all 0.3s;}
header .header-wrap .btn-menu-opn button span:first-child{margin-bottom: 5px;}
header .header-wrap .btn-menu-opn button span::before{content: ''; display: block; width: 5px; height: 5px; background-color: #000; transition: all 0.3s; margin-right: 5px;}
header .header-wrap .btn-menu-opn button span::after{content: ''; display: block; width: 5px; height: 5px; background-color: #000; transition: all 0.3s;}

header nav{width: 100%; height: 100%; top: 0; left: -100%; padding-top: 60px; transition: left 0.2s; z-index: 10;}
header nav.extend{left: 0;}
header nav .gnb li .ref .en .arr{transform: rotate(180deg); transition: transform 0.2s;}
header nav .gnb li .ref .en .arr svg path{stroke: #8FC63F}
header nav .gnb li.active .ref .en .arr{transform: rotate(0);}
header nav .gnb li.active .ref .en .arr svg path{stroke: unset;}
header nav .gnb li .sub{display: none;}

main{padding-top: 65px;}
main section{overflow: hidden;}
.main-visual{position: relative;}
/* .main-visual .layer{position: relative; height: calc(100vh - 65px); background-image: url(../images/main-visual.jpg);} */
/* .main-visual .txt{position: absolute; top: 0; left: 0; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); margin-top: 65px;} */
.main-visual .txt-slider{position: absolute; bottom: 0; left: 0; width: 100%; height: 100%;}
.main-visual .txt-slider .swiper-slide{background: linear-gradient(to top, rgba(0,0,0,0.45), rgba(0,0,0,0));}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {  }
@media (min-width: 992px) {

}
@media (min-width: 1200px) { 
    header{overflow: visible;}
    header::after{
        content: '';
        display: block;
        width: 100%;
        height: 0;
        transition: height 0.3s;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    header.extend::after{
        height: 200px;
    }
    header nav.extend,
    header nav{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        z-index: 99999;
        width: unset;
    }
    header nav .container {
        height: 100%;
    }
    header nav .container .gnb {height: 100%; border: 0 !important;}
    header nav .container .gnb .navi{height: 100%; border-bottom: 2px solid rgba(0,0,0,0);}
    header nav .container .gnb .navi .ref{height: 100%; min-width: max-content;}
    header nav .container .gnb .navi .ref .en{font-size: 1.25rem !important; width: 100%;}
    header nav .container .gnb .navi .ref button{height: 100%;}
    header nav .container .gnb .navi:hover{
        border-bottom: 2px solid #8FC63F;
    }
    header nav .container .gnb .navi .sub{
        display: none;
    }
    header nav .container .gnb .navi .sub .sub-item a{
        font-size: 1rem !important;
    }
    header nav .container .gnb .navi .sub .sub-item a:hover{
        color: #8FC63F !important;
    }
 }
@media (min-width: 1400px) {  }