

$theme-colors: (
    "black" : #000000,
    "white" : #ffffff,
    "point" : #8FC63F,
    "main" : #a2f02e,
    "deep": #005E20,
    "light1" : #EEF7E2,
    "light2" : #FFE6CB,
    "light3" : #F9AD81,
    "gray1": #E0E0E0,
    "gray2": #BDBDBD,
    "gray3": #828282,
    "gray4": #4F4F4F,
    "gray5": #adb5bd,
    "gray-100": #f8f9fa,
    "gray-200": #e9ecef,
    "gray-300": #dee2e6,
    "gray-400": #ced4da,
    "gray-500": #adb5bd,
    "gray-600": #6c757d,
    "gray-700": #495057,
    "gray-800": #343a40,
    "gray-900": #212529,
    "dark-1" : #3e4759,
    "dark-2" : #283041
    // "primary":    #6900FF,
);
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
// $font-sizes : (
//     1: 1.75rem, //m28
//     2: 1.5rem, //m24
//     3: 1.125rem, //m18
//     4: 1rem, //m16
//     5: .875rem, //m14
//     6: .75rem, //m12
//     7: .625rem, //m10
// );

:root {
    --bs-link-color: unset;
    --bs-link-hover-color: unset;
}
*, :after, :before, ::after, ::before {box-sizing:border-box}
* {margin:0; padding: 0; background-repeat: no-repeat; background-size: cover; background-position: center center;}
body, html {height:100%; font-family: 'Pretendard'; font-weight: 400;}
body {-webkit-font-smoothing:antialiased; line-height:1.5}
canvas, img, picture, svg, video {display:block;max-width:100%}
button, input, select, textarea {font:inherit; border: 0; background-color: transparent;}
button{cursor: pointer;}
h1, h2, h3, h4, h5, h6, p {overflow-wrap:break-word}
#__next, #root {isolation:isolate}
ul,ol{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: top; width: 100%;}

.navbar-toggler:focus {
    outline: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.fs-0{font-size: 0;}

@media (min-width: 576px) {
    .position-sm-static {
      position: static !important;
    }
    .position-sm-relative {
      position: relative !important;
    }
    .position-sm-absolute {
      position: absolute !important;
    }
    .position-sm-fixed {
      position: fixed !important;
    }
    .position-sm-sticky {
      position: sticky !important;
    }
}
@media (min-width: 768px) {
    .position-md-static {
      position: static !important;
    }
    .position-md-relative {
      position: relative !important;
    }
    .position-md-absolute {
      position: absolute !important;
    }
    .position-md-fixed {
      position: fixed !important;
    }
    .position-md-sticky {
      position: sticky !important;
    }
  }
  
  @media (min-width: 992px) {
    .position-lg-static {
      position: static !important;
    }
    .position-lg-relative {
      position: relative !important;
    }
    .position-lg-absolute {
      position: absolute !important;
    }
    .position-lg-fixed {
      position: fixed !important;
    }
    .position-lg-sticky {
      position: sticky !important;
    }
    .fw-lg-normal {
        font-weight: normal !important;
    }
    .border-lg-top-0 {    border-top: 0 !important; }
    .border-lg-right-0 {  border-right: 0 !important; }
    .border-lg-bottom-0 { border-bottom: 0 !important; }
    .border-lg-left-0 {   border-left: 0 !important; }
    .bg-lg-none {background-color: transparent !important;}
}
  
@media (min-width: 1200px) {
    .position-xl-static {
      position: static !important;
    }
    .position-xl-relative {
      position: relative !important;
    }
    .position-xl-absolute {
      position: absolute !important;
    }
    .position-xl-fixed {
      position: fixed !important;
    }
    .position-xl-sticky {
      position: sticky !important;
    }
}